.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  margin: 0px 10px 10px 0px;
  padding: 20px 2px;
  text-decoration: none;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.indexGroupName {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 16px;
}

.indexExamplePanel {
	display: inline;
	float: left;
	border: 1px solid #FFFFFF;
	padding: 5px;
	margin: 10px;
}

.indexExamplePanel:HOVER {
	cursor: hand;
	cursor: pointer;
	background-color: #EEEEEE;
	border: 1px solid #999999;
}

