.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  margin: 0px 10px 10px 0px;
  padding: 20px 2px;
  text-decoration: none;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.indexGroupName {
	padding-top: 20px;
	padding-bottom: 2px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #E0E0E0;
	color: #503030;
}

.indexExamplePanel {
	display: inline;
	float: left;
	border: 1px solid #FFFFFF;
	position:relative;
	padding: 2px;
	margin: 2px;
}

.indexExamplePanel image {
	position:relative;
}

.indexExamplePanel .text {
	background-color: #CCC;
	border-top: 1px solid white;
	position:absolute;
	opacity: 0.5;
    bottom: 6px;
    right: 2px;
    left: 2px;
    padding: 3px;
    text-align: center;
}

.indexExamplePanel:HOVER {
	cursor: hand;
	cursor: pointer;
}

.indexExamplePanel:HOVER .text {
	opacity: 1.0;
}

.menuIcon {
	width: 30px;
	height: 20px;
	vertical-align:middle;
	margin-right: 4px;
	margin-left: -25px;
	border: 1px solid #999;
}
