.noscript {
	color: red; 
	border: 1px solid red; 
	padding: 4px;
}

div#loading {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-64px;
	margin-top:-64px;
	text-align:center;
	border: 1px solid #AAAAAA;
	padding:10px;
}

div#loading img, span {
	vertical-align:middle;
}

